.container{

}


.container > strong{
    text-align: center;
    display: block;
    font-size: 1.5rem;
    margin-top: 2rem;
    border-bottom: 1px solid var(--gray-200);
    padding-bottom: 1rem;
}

.alingCenterContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.flexContainerListItem{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(1, 1fr);
    
}


.totalizers{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--gray-200);
    margin-bottom: 5rem;
    padding: 1rem;
}

.buttonFinalizePurchase{
    background: var(--blue);
    color: var(--gray-100);
    padding:  1rem 2rem;
    width: 80%;
    border: none;
    margin-bottom: 1rem;
    border-radius: 8px;

}
.buttonFinalizePurchase:hover{
    background: var(--dark-blue);
    color: var(--gray-100);
    outline: 1px solid var(--blue);
    transition: background-color 0.2s;
}



@media (min-width: 999px){
    .flexContainerListItem{
        margin: 0 10rem;
    }
    .flexContainerListItem{
        grid-template-columns: repeat(3, 1fr);
        
    }
    .buttonFinalizePurchase{
        width: 30%;
    }
    
    
}